html,
body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #fcffff;
  margin: 0;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
* {
  box-sizing: border-box;
}
/* Header NAV */
header,
.hero-nav,
.hero-nav-li {
  max-width: 100vw;
}
.hamburg-nav {
  display: none;
}
.hero-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 3px 3px rgba(185, 179, 179, 0.342);
}
.nav-li {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
  align-items: center;
}
.hero-nav-li {
  text-decoration: none; /*Cambie esto por que si no se ven en azul los links*/
  font-size: 18.5px;
  list-style: none;
  font-weight: 500;
  padding: 0.8rem;
  cursor: pointer;
  position: relative;
}

.hero-nav-li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #66cc00;
  transition: all 0.5s ease-in-out;
}
.hero-nav-li:hover::after {
  width: 100%;
  left: 0;
}
a {
  color: inherit; /* Usa el color del elemento padre */
  text-decoration: none; /* Quita el subrayado */
}
.donate {
  background-color: #66cc00;
  font-weight: bold;
  color: white;
}
.donate:hover {
  background-color: #66cc007a;
}
.nav-logo {
  margin-left: 1rem;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-logo img {
  width: 100px;
  height: 60px;
}
.hero-nav-li.search {
  margin-left: 1rem;
  padding: 0.45rem;
}
/* ---------------Header NAV--------------------------- */

/* Página principal HOME - INICIO */
.hero-home {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}
.title-primary p {
  align-content: center;
  width: 80%;
  text-align: center;
  height: 120px;
  border-left: 3px solid #66cc00;
}

.one-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.one-image,
.two-image {
  box-shadow: 3px 3px 3px 3px rgba(185, 179, 179, 0.582);
  position: relative;
  width: 90%;
  height: auto;
  justify-self: center;
}
.one-image::before,
.two-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 40, 40, 0.534);
  z-index: 1;
}
.one-image p,
.two-image p {
  position: absolute;
  top: 0;
  left: 1rem;
  z-index: 2;
  font-weight: 600;
  color: white;
}
.two-article {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-content: center;
  align-items: center;
}
.card-image {
  width: 180px;
  height: 232px;
  background-position: center;
  background-size: cover;
  box-shadow: 3px 3px 3px 3px rgba(185, 179, 179, 0.582);
  display: flex;
  align-items: end;
  position: relative;
  justify-self: center;
}
.card-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  z-index: 1;
}

.card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  transition: transform 0.3s, opacity 0.3s;
  z-index: 2;
}

.card-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  max-height: 0;
  overflow: hidden;
  padding: 4px;
  transition: max-height 0.3s, background-color 0.3s;
  z-index: 1;
}

.card-image:hover .card-info {
  max-height: 100px; /* Ajusta este valor según sea necesario */
  background-color: rgba(0, 0, 0, 0.5);
}
.card-image:hover .card-title {
  transform: translateY(-97px);
}
/* ---- */
.card-image:nth-child(1) {
  background-image: url("images/contaminacionEnElOceano.jpg");
}
.card-image:nth-child(2) {
  background-image: url("images/sinBosquesNoHayAnimales.jpg");
}
.card-image:nth-child(3) {
  background-image: url("images/LosGlaciaresNoSeToan.jpg");
}
.card-image:nth-child(4) {
  background-image: url("images/explosionToxica.jpg");
}

/* footer */

footer {
  background-color: #1f4912;
  width: 100%;
  margin: 0;
  margin-top: 4rem;
  position: relative;
  bottom: 0;
}
.footer-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.ul-footer-info {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 200px;
}
.li-footer-info {
  text-decoration: none;
  list-style: none;
  color: white;
}
.ul-footer-info-red {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 200px;
}
.li-footer-info svg {
  width: 40px;
  fill: white;
  height: 40px;
}
.card {
  display: flex;
  flex-direction: row;
  width: 80%;
  box-shadow: 3px 3px 3px rgba(185, 179, 179, 0.582);
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-image {
  flex: 1;
  overflow: hidden;
}

.card-text {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #66cc00;
}

.card-text p {
  margin: 0.5rem 0 0;
}
/* ------------------------Sobre nosotros -----------------------------*/
/* Sobre Nosotros */
/*-------------------------Contacto--------------------------------------*/
.contacto-title {
  padding: 3rem;
}
.contacto-title p {
  font-size: 1.4em;
}
.contacto-title h2 {
  color: #1f4912;
  font-size: 3em;
}
.contacto {
  padding: 3rem;
}
.resaltado {
  font-weight: bold;
}
.contactos h3 {
  color: #1f4912;
  font-size: 2em;
}
.contacto p {
  font-size: 1.4em;
}
/*-------------------------Contacto--------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.card-sobre-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.card-sobre-nosotros-text {
  flex: 1;
  margin-right: 1rem; /* Espacio entre texto e imagen */
  text-align: justify; /* Justificar texto */
}

.card-image-sobre-nosotros {
  flex: 1;
  margin-left: 1rem; /* Espacio entre imagen y texto */
}

.card-image-sobre-nosotros img {
  max-width: 100%; /* Ajustar el ancho máximo de la imagen */
  height: auto; /* Altura automática según el ancho */
}

.card-sobre-nosotros p {
  font-size: 20px; /* Tamaño del párrafo */
  line-height: 1.6; /* Altura de línea */
}

.card-sobre-nosotros-extra {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Para que las tarjetas se envuelvan en dispositivos más pequeños */
  gap: 20px; /* Espacio entre las tarjetas */
}

.card-extra {
  position: relative;
  width: 100%;
  max-width: 500px; /* Ancho máximo de cada tarjeta */
  overflow: hidden; /* Para asegurar que la imagen ocupe todo el espacio */
}

.card-extra img {
  width: 100%; /* La imagen ocupa todo el ancho de su contenedor */
  height: auto; /* Altura automática según el ancho */
  display: block; /* Asegura que la imagen se comporte correctamente */
}

.card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.411); /* Color de fondo del texto */
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

.card-extra h5 {
  font-size: 20px; /* Tamaño de letra para el título aumentado */
  margin-bottom: 10px; /* Espacio inferior para separar el título del texto */
}
.card-extra p {
  font-size: 16px; /* Tamaño de letra para la descripción aumentado */
  line-height: 1.4; /* Espaciado entre líneas */
  margin-bottom: 15px; /* Espacio inferior para separar los párrafos */
}
/* -------------------------------------------------------------------- */
/* ------------------------------------------------- Campañas------------------------------------------------- */
.main-content-campañas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-campañas {
  display: flex;
  flex-direction: row-reverse; /* Inicia con las imágenes a la derecha en desktop */
  margin: 1rem 0;
  width: 80%; /* Ancho ajustado, puedes cambiarlo según tu diseño */
  border-radius: 8px;
  overflow: hidden;
  height: 400px; /* Altura fija para todas las cartas */
}

.card-campañas-image,
.card-text-campañas {
  width: 50%;
}

.card-campañas-image img {
  width: 100%;
  height: 100%; /* Hacer que la imagen llene toda la altura del contenedor */
  object-fit: cover; /* Asegurar que la imagen cubra el espacio sin deformarse */
}

.card-text-campañas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box; /* Asegura que el padding no cause overflow */
}

.card-text-campañas h3 {
  color: #1f4912; /* Cambiar el color del h3 */
}
/* ------------------------------------------------- Campañas------------------------------------------------- */
/* login page */
.section-form-login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-login {
  background-image: url("images/GreenPeaceLogo.png");
  background-size: 150px auto;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 400px;
  width: 300px;
  flex-direction: column;
  background-color: #e3e6e6;
  border: 1px solid rgba(82, 78, 78, 0.342);
  gap: 1rem;
  padding-bottom: 2rem;
}
.form-login label {
  font-size: 1.15rem;
}
.form-login input {
  width: 80%;
  height: 40px;
  border: none;
  padding: 0.6rem;
}
.form-login input:focus {
  outline: none;
}
.form-login input[type="submit"] {
  margin-top: 1rem;
  border: 1px solid rgb(117, 114, 114);
  cursor: pointer;
}

/* administrador vision en header */
.administrator {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(194, 28, 28);
  fill: rgb(194, 28, 28);
  border-radius: 100%;
}
.administrator {
  text-decoration: none; /*Cambie esto por que si no se ven en azul los links*/
  font-size: 18.5px;
  list-style: none;
  font-weight: 500;
  padding: 0.8rem;
  cursor: pointer;
  position: relative;
}
.adminOpen {
  margin-right: 0;
  display: none;
  position: absolute;
  flex-direction: column;
  transition: all 0.3s ease-in;
  left: 1rem;
  width: 220px;
  height: auto;
  border-radius: 0;
  top: 46px;
  background-color: #fcffff;
  box-shadow: 3px 3px 3px 0px rgba(185, 179, 179, 0.342);
  z-index: 3;
  gap: 1.5rem;
}
.adminOpen li {
  cursor: pointer;
  list-style: none;
  padding: 15px;
}
#searchInput {
  width: 120px;
  height: 40px;
  position: relative;
}
#suggestions {
  top: 5.5%;
  left: 79%;
  background-color: #e3e6e6;
  width: 180px;
  height: auto;
  position: absolute;
}
/* mediaquerys home-hero*/
@media (max-width: 800px) {
  .two-article {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  #searchInput {
    width: 100px;
    height: 40px;
    position: relative;
  }
  #suggestions {
    top: 100%;
    left: 0%;
    background-color: #e3e6e6;
    width: 180px;
    height: auto;
    position: absolute;
  }
  .hero-nav {
    box-shadow: 3px 3px 3px 3px rgba(185, 179, 179, 0.342);
  }
  .nav-li {
    display: none;
  }
  .nav-li.activeHamburgues {
    transition: all 0.3s ease-in;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0.15rem;
    width: 150px;
    top: 64px;
    background-color: #fcffff;
    box-shadow: 3px 3px 3px 0px rgba(185, 179, 179, 0.342);
    z-index: 3;
  }
  .hamburg-nav {
    display: flex;
    width: 30px;
    margin-right: 1rem;
    height: 30px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  #searchInput {
    width: 100px;
    height: 40px;
    position: relative;
  }
  #suggestions {
    top: 100%;
    left: 0%;
    background-color: #e3e6e6;
    width: 180px;
    height: auto;
    position: absolute;
  }
  .two-article {
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .one-article {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-nav {
    box-shadow: 3px 3px 3px 3px rgba(185, 179, 179, 0.342);
  }
  .nav-li {
    display: none;
  }
  .nav-li.activeHamburgues {
    transition: all 0.3s ease-in;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0.15rem;
    width: 150px;
    top: 64px;
    background-color: #fcffff;
    box-shadow: 3px 3px 3px 0px rgba(185, 179, 179, 0.342);
    z-index: 3;
  }
  .hamburg-nav {
    display: flex;
    width: 30px;
    margin-right: 1rem;
    height: 30px;
    cursor: pointer;
  }
  .ul-footer-info-red {
    flex-direction: column;
  }
  .ul-footer-info {
    gap: 1rem;
    margin: 0.5rem;
  }
  .li-footer-info svg {
    width: 30px;
    height: 30px;
  }
  /* -.--------------------------------------- */
  /* Sobrenosotros mediaQuerys */
  .card-sobre-nosotros-extra {
    flex-direction: column;
    align-items: center;
  }

  .card-extra {
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
  }

  .card-text {
    position: static;
    background-color: initial;
    color: initial;
    padding: 10px;
    opacity: 1;
    transition: none;
  }

  .card-sobre-nosotros {
    flex-direction: column;
    align-items: center;
  }

  .card-sobre-nosotros-text,
  .card-image-sobre-nosotros {
    width: 100%;
    margin: 0; /* Eliminar los márgenes laterales */
  }
  /* -.--------------------------------------- */
  /* media querys campañas */
  .card-campañas {
    flex-direction: column; /* Cambia a column para móviles */
    height: auto; /* Altura automática */
  }

  .card-campañas-image,
  .card-text-campañas {
    width: 100%; /* Ancho completo en móviles */
  }

  .card-campañas-image {
    order: -1; /* Cambia el orden para poner la imagen arriba en móviles */
    height: 200px; /* Altura fija para las imágenes en móviles */
  }

  .card-text-campañas {
    order: 1; /* Cambia el orden para poner el texto abajo en móviles */
  }
  /* ---------------------------------------------------------- */
}
